.DS_Store
node_modules
dist
build
.env
.env.*
!.env.example
backend/prisma/dev.db
backend/prisma/test.db
backend/.turbo
backend/.tsbuildinfo
frontend/build
frontend/.dart_tool
frontend/.packages
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.idea
frontend/.vscode
coverage
*.log
**/.DS_Store
